<!-- ===== FOOTER ===== -->
<footer class="section footer">
                    <div class="container footer-container">
                            <ul class="footer-list">
                                <li class="footer-link">
                                    <a href="#about-us-id" class="footer-anchor">About us</a>
                                </li>
                                <li class="footer-link">
                                    <a href="#order-container" class="footer-anchor">Customer order</a>
                                </li>
                                <li class="footer-link">
                                    <a href="#our-collection" class="footer-anchor">Our collection</a>
                                        </li>
                                <li class="footer-link">
                                    <a href="#testimonials" class="footer-anchor">Testimonials</a>
                                        </li>
                            </ul>
                            <p class="slogan">A touch of <span class="ukrainian">Ukrainian</span> culture in every embroidery</p>
     </div>
    </footer>
