<header class="header">
  <div class="container">
    <div class="header-container">
      <nav class="header-navigation">
        <a href="./">
          <img
            src="/img/svg-icons/logo.svg"
            alt="Vyshyvanka Vibes logo"
            width="44"
            height="39"
          />
        </a>
        <ul class="header-navigation-list">
          <li>
            <a class="header-navigation-link" href="#about-us-id"> About us </a>
          </li>
          <li>
            <a class="header-navigation-link" href="#our-collection">
              Our collection
            </a>
          </li>
          <li>
            <a class="header-navigation-link" href="#order-container">
              Customer order
            </a>
          </li>
          <li>
            <a class="header-navigation-link" href="#testimonials">
              Testimonials
            </a>
          </li>
        </ul>
      </nav>
      <div class="address-box">
        <address class="header-address">
          <a class="header-address-phone" href="tel:+380684439426">
            +380 (68) 443-94-26
          </a>
          <ul class="header-address-social-list">
            <li class="header-address-social-list-item">
              <a
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                class="header-address-social-list-link"
                aria-label="Facebook"
              >
                <svg
                  class="header-address-social-list-link-icon"
                  width="28"
                  height="28"
                >
                  <use href="/img/svg-icons/svg.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="header-address-social-list-item">
              <a
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                class="header-address-social-list-link"
                aria-label="Instagram"
              >
                <svg
                  class="address-social-list-link-icon"
                  width="28"
                  height="28"
                >
                  <use href="/img/svg-icons/svg.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="header-address-social-list-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                class="header-address-social-list-link"
                aria-label="Twitter"
              >
                <svg
                  class="header-address-social-list-link-icon"
                  width="28"
                  height="28"
                >
                  <use href="/img/svg-icons/svg.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
        <button
          class="mobile-open-btn button menu-btn-open"
          type="button"
          aria-label="Open mobile menu"
        >
          <svg class="mobile-open-btn-icon">
            <use href="/img/svg-icons/svg.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
