<!--  ====== HERO -->
<section class="hero">
  <div class="container">
    <ul class="hero-ul">
      <li class="hero-li">
        <picture data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
          <source
            srcset="
              /img/hero/hero-desktop.webp    1x,
              /img/hero/hero-desktop@2x.webp 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /img/hero/hero-tablet.webp    1x,
              /img/hero/hero-tablet@2x.webp 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/hero/hero-mobile.webp    1x,
              /img/hero/hero-mobile@2x.webp 2x
            "
            media="(min-width:320px)"
          />
          <img class="hero-girl" src="/img/hero/hero-desktop.webp" alt="girl" />
        </picture>
      </li>
      <li class="hero-title-block">
        <div class="hero-title-text">
          <h1 class="hero-title">
            <span class="animation">Reviving</span>
            <span class="animation">the</span>
            <span class="animation">traditional</span>
            <span class="animation hero-title-span"> Ukrainian </span>
            <span class="animation">artistry</span>
            <span class="animation">in</span>
            <span class="animation">every</span>
            <span class="animation">stitch.</span>
          </h1>
          <a class="hero-button" href="#order-container">
            ORDER
            <svg class="hero-order-icon" width="26" height="26">
              <use href="/img/svg-icons/svg.svg#icon-untitled"></use>
            </svg>
          </a>
        </div>

        <div class="hero-star-block">
          <picture>
            <source srcset="/img/Star.webp 1x, /img/Star@2x.webp 2x" />
            <img
              class="hero-star"
              src="/img/Star.webp"
              alt="star"
              width="52"
              height="51"
            />
          </picture>
          <p class="hero-text">all embroidery is made by hand</p>
        </div>
      </li>
    </ul>
  </div>
</section>
