<section class="our-collection" id="our-collection" >
  <div class="container our-collection-container">
    <h2 class="our-collection-title" >Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-item">
    <div class="flip-block-inner">
          <div class="our-collection-picture">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/our-collection/1-desk1280.webp    1x,
                  /img/our-collection/1-desk1280@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/our-collection/1tab.webp    1x,
                  /img/our-collection/1tab@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/our-collection/1mob.webp    1x,
                  /img/our-collection/1mob@2x.webp 2x
                "
              />
              <img src="../img//our-collection/1-desk1280.webp" alt="vyshyvanka" />
            </picture>
  <div class="our-collection-text">
    <h3 class="our-collection-item-name">
      AUGUST Poltava women's blouseRING
    </h3>
    <p class="our-collection-item-price">3300 UAH</p>
  </div>
          </div>
        
          <div class="our-picture-back">
              <img class="back" src="/img/our-collection/1-desk1280.webp" srcset="/img/flip/1-2side.webp 1x, /img/flip/1-2side@2x.webp 2x" alt="vyshyvanka" />
  <div class="our-collection-text">
    <h3 class="our-collection-item-name">
      AUGUST Poltava women's blouseRING
    </h3>
    <p class="our-collection-item-price">3300 UAH</p>
  </div>
          </div>
    </div>
      </li>
      <li class="our-collection-item">
 <div class="flip-block-inner">
          <div class="our-collection-picture">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/our-collection/2-desk1280.webp    1x,
                  /img/our-collection/2-desk1280@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/our-collection/2tab.webp    1x,
                  /img/our-collection/2tab@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/our-collection/2mob.webp    1x,
                  /img/our-collection/2mob@2x.webp 2x
                "
              />
              <img src="/img/our-collection/2-desk1280.webp" alt="vyshyvanka" />
            </picture>
  <div class="our-collection-text">
    <h3 class="our-collection-item-name">Women's blouse Gorgany</h3>
    <p class="our-collection-item-price">3350 UAH</p>
  </div>
          </div>
          <div class="our-picture-back">
            <img class="back" src="/img/our-collection/2-desk1280.webp" srcset="/img/flip/2-2side.webp 1x, /img/flip/2-2side@2x.webp 2x" alt="vyshyvanka"/>
            <div class="our-collection-text">
              <h3 class="our-collection-item-name">Women's blouse Gorgany</h3>
              <p class="our-collection-item-price">3350 UAH</p>
            </div>
          </div>
 </div>
      </li>
      <li class="our-collection-item">
       <div class="flip-block-inner">
          <div class="our-collection-picture">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/our-collection/3-desk1280.webp    1x,
                  /img/our-collection/3-desk1280@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/our-collection/3tab.webp    1x,
                  /img/our-collection/3tab@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/our-collection/3mob.webp    1x,
                  /img/our-collection/3mob@2x.webp 2x
                "
              />
              <img src="/img/our-collection/3-desk1280.webp" alt="vyshyvanka" />
            </picture>
  <div class="our-collection-text">
    <h3 class="our-collection-item-name">Women's blouse Crimea</h3>
    <p class="our-collection-item-price">4000 UAH</p>
  </div>
          </div>
          <div class="our-picture-back">
            <img class="back" src="/img/our-collection/3-desk1280.webp" srcset="/img/flip/3-2side.webp 1x, /img/flip/3-2side@2x.webp 2x" alt="vyshyvanka"/>
            <div class="our-collection-text">
              <h3 class="our-collection-item-name">Women's blouse Crimea</h3>
              <p class="our-collection-item-price">4000 UAH</p>
            </div>
          </div>
       </div>
      </li>
      <li class="our-collection-item">
       <div class="flip-block-inner">
          <div class="our-collection-picture">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/our-collection/4-desk1280.webp    1x,
                  /img/our-collection/4-desk1280@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/our-collection/4tab.webp    1x,
                  /img/our-collection/4tab@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/our-collection/4mob.webp    1x,
                  /img/our-collection/4mob@2x.webp 2x
                "
              />
              <img src="/img/our-collection/4-desk1280.webp" alt="vyshyvanka" />
            </picture>
            <div class="our-collection-text">
              <h3 class="our-collection-item-name">Men's shirt Verkhovina</h3>
              <p class="our-collection-item-price">3100 UAH</p>
            </div>
          </div>
          <div class="our-picture-back">
            <img class="back" src="/img/our-collection/4-desk1280.webp" srcset="/img/flip/4-2side.webp 1x, /img/flip/4-2side@2x.webp 2x" alt="vyshyvanka"/>
            <div class="our-collection-text">
              <h3 class="our-collection-item-name">Men's shirt Verkhovina</h3>
              <p class="our-collection-item-price">3100 UAH</p>
            </div>
          </div>
       </div>
      </li>
      <li class="our-collection-item">
<div class="flip-block-inner">
          <div class="our-collection-picture">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/our-collection/5-desk1280.webp    1x,
                  /img/our-collection/5-desk1280@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/our-collection/5tab.webp    1x,
                  /img/our-collection/5tab@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/our-collection/5mob.webp    1x,
                  /img/our-collection/5mob@2x.webp 2x
                "
              />
              <img src="/img/our-collection/5-desk1280.webp" alt="vyshyvanka" />
            </picture>
            <div class="our-collection-text">
              <h3 class="our-collection-item-name">Mountain men's shirt</h3>
              <p class="our-collection-item-price">3300 UAH</p>
            </div>
          </div> 
  <div class="our-picture-back">
    <img class="back" src="/img/our-collection/5-desk1280.webp" srcset="/img/flip/5-2side.webp 1x, /img/flip/5-2side@2x.webp 2x" alt="vyshyvanka"/>
    <div class="our-collection-text">
      <h3 class="our-collection-item-name">Mountain men's shirt</h3>
      <p class="our-collection-item-price">3300 UAH</p>
    </div>
  </div>
</div>
      </li>
      <li class="our-collection-item">
<div class="flip-block-inner">
          <div class="our-collection-picture">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/our-collection/6-desk1280.webp    1x,
                  /img/our-collection/6-desk1280@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/our-collection/6tab.webp    1x,
                  /img/our-collection/6tab@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/our-collection/6mob.webp    1x,
                  /img/our-collection/6mob@2x.webp 2x
                "
              />
              <img src="/img/our-collection/6-desk1280.webp" alt="vyshyvanka" />
            </picture>
            <div class="our-collection-text">
              <h3 class="our-collection-item-name">Men's shirt Yasen</h3>
              <p class="our-collection-item-price">1700 UAH</p>
            </div>
          </div>
        <div class="our-picture-back">
          <img class="back" src="/img/our-collection/6-desk1280.webp" srcset="/img/flip/6-2side.webp 1x, /img/flip/6-2side@2x.webp 2x" alt="vyshyvanka"/>
          <div class="our-collection-text">
            <h3 class="our-collection-item-name">Men's shirt Yasen</h3>
            <p class="our-collection-item-price">1700 UAH</p>
          </div>
        </div>
</div>
      </li>
    </ul>
  </div>
</section>
