
/*===== FOOTER-MOBILE =====*/

.section.footer {
    padding-top: 40px;
}

.footer {
    background-image: url("/img/ornament/ornament-yellow@2x-min.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 452px 401px;
    background-position: bottom -221px center;
    padding-bottom: 277px;
    border-top: 1px solid rgba(252, 249, 249, 0.1);
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(2, 32px);
}


.footer-anchor {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: #FCF9F9;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-anchor:hover, .footer-anchor:focus {
    color: #ECD979;
}

.slogan {
font-weight: 400;
font-size: 44px;
line-height: 123%;
letter-spacing: -0.03em;
color: #FCF9F9;
padding-top: 40px;
}

@media (min-resolution: 192dpi) {
.footer {
    background-image: url("/img/ornament/ornament-yellow@2x-min.png");
}
}

/*===== FOOTER-TABLET =====*/

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        margin: 0 auto;
    }

    .section.footer {
    padding-bottom: 40px;
    }

    .footer  {
      display: flex;
        flex-wrap: nowrap;
        border-top: 1px solid rgba(252, 249, 249, 0.1);
        min-height: 370px;
        background-size: 452px 401px;
        background-position: top right -277px;
        padding-bottom: 0;
    }

.footer-list {
    display: flex;
    flex-wrap: nowrap;
    min-width: 478px;
    gap: 25px;
    }

.slogan {
    width: 525px;
    font-size: 54px;
    line-height: 119%;
    padding-top: 80px;
}
}

/*===== FOOTER-DESKTOP-1280-1440 =====*/

@media screen and (min-width: 1280px) {
    .container {
        width: 1440px;
        padding-left: 100px;
        padding-right: 100px;
        margin: 0 auto;
    }
.footer {
    background-position: right -210px top;
    }

.slogan {
    width: 754px;
    max-width: 754px;
    font-size: 64px;
    line-height: 116%;
    padding-top: 117px;
    }
}

/*===== FOOTER-DESKTOP-1440 =====*/

@media screen and (min-width: 1440px) {
    .footer {
        background-position: right -70px top;
        }
}
