/*  */
.our-collection {
    padding-top: 18px;
    padding-bottom: 80px; 
    background-image: url(/img/our-collection/collection-bg-mobile.png);
    background-repeat: no-repeat;
    background-position: left top 298px;
        
}

.our-collection-title {
font-weight: 500;
font-size: 32px;
line-height: 1.375;
letter-spacing: -0.03em;
color: #fcf9f9;
text-align: center;
margin-bottom: 40px;

}

.our-collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%
}

.our-collection-item {
    width: 100%;      
}

.our-collection-picture img {
    border-radius: 4px;           
}

.our-picture-back img {
border-radius: 4px;
}
.our-collection-item-name {
font-weight: 500;
font-size: 14px;
line-height: 1;
letter-spacing: 0.05em;
text-transform: uppercase;
color: #fcf9f9;
margin-top: 18px;
margin-bottom: 8px;
}

.our-collection-item-price {
font-weight: 400;
font-size: 14px;
line-height: 1;
letter-spacing: 0.05em;
color: rgba(252, 249, 249, 0.4);
}

@media screen and (max-width: 767px) {
    .our-collection-item {
        height: 484px;
    }

    .our-collection-picture img {
        height: 430px;
    }
}

@media screen and (min-width: 768px) {
    .our-collection {
        padding-top: 50px;
        padding-bottom: 100px;
        background-image: url(/img/our-collection/collection-bg-tablet.png);
        background-repeat: no-repeat;
        background-position: 0 255px;
    }

    .our-collection-item {
        width: calc((100% - 20px) / 2);
    }

    .our-collection-title {
        font-size: 44px;
        line-height: 1.45455;
    }
}

@media screen and (min-width: 1280px) {
    .our-collection {
        padding-top: 70px;
        padding-bottom: 150px;
        background-image: url(/img/our-collection/collection-bg-desktop-1280.png);
        background-repeat: no-repeat;
        background-position: 0 278px;
    }

    .our-collection-item {
        width: calc((100% - 40px) / 3);
    }

    .our-collection-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 40px;
        justify-content: center;
    }
}

/* ====== FLIP-CARD ====== */

.back {
    object-fit: cover;
    width: 100%;
    height: 430px;

}
.flip-block-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}


.flip-block-inner .our-collection-picture {
    backface-visibility: hidden;
    transition: all 1500ms ease-in-out;
}


.flip-block-inner .our-picture-back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1500ms ease-in-out;
}

.flip-block-inner:hover .our-collection-picture,
.flip-block-inner:focus .our-collection-picture {
    transform: rotateY(-180deg);
}


.flip-block-inner:hover .our-picture-back,
.flip-block-inner:focus .our-picture-back {
    transform: rotateY(0deg);
}